.gallery {
  background-color: $color-grey-dark-1;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
  &__item {
    &--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }
    &--2 {
      grid-row: 1 / span 3;
      grid-column: 3 / span 3;
    }
    &--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / span 1;
    }
    &--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / -1;
    }
    &--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2;
    }
    &--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;
    }
    &--7 {}
    &--8 {
      grid-row: 3 / 5;
      grid-column: 6 / span 2;
    }
    &--9 {
      grid-row: 6 / -1;
    }
    &--10 {
      grid-row: 3 / span 3;
      grid-column: 8 / 9;
    }
    &--11 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 2;
    }
    &--12 {
      grid-row: 5 / -1;
      grid-column: 5 / span 3;
    }
    &--13 {
      grid-row: 6 / span 2;
    }
    &--14 {
      grid-row: 6 / span 2;
      grid-column: 8 / span 1;
    }
  }
  &__img {
    /*
      For This gallery layout, Width, height: 100% and
      object-fit: cover, display block is key points!!!!!
      without these lines, this is really, hard to make it
    */
    width: 100%;
    height: 100%;
    object-fit: cover; // Key point!!!!!
    display: block;
  }
}